# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/

# Maven
target/

# Gradle
.gradle/
build/

# Compiled class files
*.class

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db
